asgiref==3.3.1
beautifulsoup4==4.9.3
blis==0.7.4
boto3==1.16.56
botocore==1.19.56
catalogue==1.0.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
cymem==2.0.5
dataclasses==0.8
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.3.0/de_core_news_sm-2.3.0.tar.gz
Django==3.1.5
django-filter==2.4.0
djangorestframework==3.12.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
filelock==3.0.12
freeze==3.0
idna==2.10
importlib-metadata==3.4.0
jmespath==0.10.0
joblib==1.0.0
Markdown==3.3.3
murmurhash==1.0.5
nltk==3.5
numpy==1.19.5
packaging==20.8
plac==1.1.3
preshed==3.0.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytorch-transformers==1.2.0
pytz==2020.5
regex==2020.11.13
requests==2.25.1
s3transfer==0.3.4
sacremoses==0.0.43
selenium==3.141.0
sentencepiece==0.1.95
six==1.15.0
soupsieve==2.1
spacy==2.3.5
sqlparse==0.4.1
srsly==1.0.5
textblob==0.15.3
thinc==7.4.5
tokenizers==0.9.4
torch==1.7.1
torchtext==0.8.1
tqdm==4.56.0
transformers==4.2.1
typing-extensions==3.7.4.3
urllib3==1.26.2
wasabi==0.8.0
webdriver-manager==3.2.2
zipp==3.4.0
